# Data Preparation

## Overview of Data

In [8]:
# Exploratory Data Analysis


def top_rows(value):
    print('\033[1m'+ 'displaying the', value, 'rows from top'+'\033[0m')
    a=df.head(value)
    print(a,'\n')
    
def bottom_rows(value):
    print('\033[1m'+'displaying the', value, 'rows from bottom'+'\033[0m')
    b=df.tail(value)
    print(b,'\n')
    
def rows_columns():
    print('\033[1m'+'Shape of the Data set'+'\033[0m')
    c=df.shape
    print(c,'\n')
    
def col_names():
    print('\033[1m'+'Column Names in the Data set'+'\033[0m')
    d=df.columns
    print(d,'\n')
    
def information():
    print('\033[1m'+'Quick Overview of DataSet(info)'+'\033[0m')
    e = df.info()
    print(e,'\n')

def sizee():
    print('\033[1m'+'No.of Elements in the DataSet'+'\033[0m')
    f = df.size
    print(f,'\n')

def ndimension():
    print('\033[1m'+'Dimensions in your dataframe'+'\033[0m')
    g = df.ndim
    print(g,'\n')
    
def stats_summary():
    print('\033[1m'+'Staistical Summary of DataSet'+'\033[0m')
    h = df.describe()
    print(h,'\n')
    
def null_values():
    print('\033[1m'+'Percentage of Missing values in each column'+'\033[0m')
    i=round(df.isnull().sum()*100/len(df),2)
    print(i,'\n')
    
def n_unique():
    print('\033[1m'+'Number of unique elements'+'\033[0m')
    j = df.nunique()
    print(j,'\n')
    
def memory_use():
    print('\033[1m'+'Memory used by all colomns in bytes'+'\033[0m')
    k = df.memory_usage()
    print(k,'\n')
    
def is_na(value):
    print('\033[1m'+'Dataframe filled with boolean values with true indicating missing values'+'\033[0m')
    l = df.isna().head(value)
    print(l,'\n')
    
def duplicate():
    print('\033[1m'+'Boolean Series denoting duplicate rows'+'\033[0m')
    m = df.duplicated().sum()
    print(m,'\n')
    
def valuecounts():
    print('\033[1m'+'Series containing count of unique values'+'\033[0m')
    n = df.value_counts()
    print(n,'\n')

def datatypes():
    print('\033[1m'+'Datatype of each column'+'\033[0m')
    o = df.dtypes
    print(o,'\n')
    
def correlation():
    print('\033[1m'+'Correalation between all columns in DataFrame'+'\033[0m')
    p = df.corr()
    print(p,'\n')
    
def nonnull_count():
    print('\033[1m'+'Count of non-null values'+'\033[0m')
    q = df.count()
    print(q,'\n')
    
def eda():
    value= 5 
    datatypes()
    top_rows(value)
    bottom_rows(value)
    rows_columns()
    col_names()
    information()
    sizee()
    ndimension()
    stats_summary()
    null_values()
    n_unique()
    memory_use()
    is_na(value)
    #nonnull_count()
    duplicate()
    valuecounts()
    correlation()
    
    
    
        
def stats_u(data,col):
    if data[col].dtype == "float64":
        print(col,"has Quantitative data")
        mean_value=data[col].mean()
        print('mean of',col,'column',mean_value)
        max_value = data[col].max()
        print('Maximum value of',col,'column',max_value)
        min_value = data[col].min()
        print('Minimum value of',col,'column',min_value)
        median_value = data[col].median(skipna = True)
        print('median of',col,'column',median_value)
        std_value = data[col].std()
        print('standard deviation of',col,'column',std_value)
        q1 = data[col].quantile(0.25,interpolation='nearest')
        print('quartile 1 of',col,'column is',q1)
        q2 = data[col].quantile(0.5,interpolation='nearest')
        print('quartile 2 of',col,'column is',q2)
        q3 = data[col].quantile(0.75,interpolation='nearest')
        print('quartile 3 of',col,'column is',q3)
        q4 = data[col].quantile(1,interpolation='nearest')
        print('quartile 4 of',col,'column is',q4)
        IQR = q3 -q1
        LLP = q1 - 1.5*IQR
        ULP = q3 + 1.5*IQR
        print('Lower Limit Point:',LLP)
        print('Upper Limit Point:',ULP)
        if data[col].min() > LLP and data[col].max() < ULP:
            print("No outliers")
        else:
            print("There are outliers")
            print(data[data[col]<LLP][col])
            print(data[data[col]>ULP][col])
            
    elif data[col].dtype == "int64":
        print(col,"has Quantitative data")
        mean_value=data[col].mean()
        print('mean of',col,'column',mean_value)
        median_value = data[col].median(skipna = True)
        print('median of',col,'column',median_value)
        std_value = data[col].std()
        print('standard deviation of',col,'column',std_value)
        q1 = data[col].quantile(0.25,interpolation='nearest')
        print('quartile 1 of',col,'column is',q1)
        q2 = data[col].quantile(0.5,interpolation='nearest')
        print('quartile 2 of',col,'column is',q2)
        q3 = data[col].quantile(0.75,interpolation='nearest')
        print('quartile 3 of',col,'column is',q3)
        q4 = data[col].quantile(1,interpolation='nearest')
        print('quartile 4 of',col,'column is',q4)
        IQR = q3 -q1
        LLP = q1 - 1.5*IQR
        ULP = q3 + 1.5*IQR
        print('Lower Limit Point:',LLP)
        print('Upper Limit Point:',ULP)
        if data[col].min() > LLP and data[col].max() < ULP:
            print("No outliers")
        else:
            print("There are outliers")
            print("Outliers are:")
            print(data[data[col]<LLP][col])
            print(data[data[col]>ULP][col])
    else:
        print(col,'has Qualitative Data')
        z = df[col].mode()
        print('mode of',col,'column:\n',z)
        print('Count of mode is:\n',df[col].value_counts())
        print('Unique strings in',col,'are',data[col].nunique())
        if(data[col].nunique() == 1):
            print(col,'has same string')
        elif(data[col].nunique() == 2):
            print(col,'has binary strings')
        else:
            print(col,'has multi stings')


eda()

print("----------------------------------------------------------------------------------------------------------------------")
print('\033[1m'+'Summary Of DataSet'+'\033[0m')
print('\033[1m'+'DataTypes in the DataSet:\n'+'\033[0m',df.dtypes)
print('\033[1m'+'Columns in DataSet:'+'\033[0m',df.columns)
print('\033[1m'+'Shape of DataSet:'+'\033[0m',df.shape)
print('\033[1m'+'Size of DataSet:'+'\033[0m',df.size)
print('\033[1m'+'Dimension of DataSet:'+'\033[0m',df.ndim)
print('\033[1m'+'Total Memory used in DataSet:'+'\033[0m',df.memory_usage().sum())
print('\033[1m'+'Total Number of missing values in DataSet:'+'\033[0m',df.isnull().sum().sum())
print('\033[1m'+'Total Number of Unique values in DataSet:'+'\033[0m',df.nunique().sum())
print('\033[1m'+'Total Number of non null values in DataSet:'+'\033[0m',df.count().sum())
print('\033[1m'+'Total Number of duplicate rows in DataSet:'+'\033[0m',df.duplicated().sum())
print("----------------------------------------------------------------------------------------------------------------------")
print('\033[1m'+'Summary Of Each Colomn'+'\033[0m')
print("\n")
cols=df.columns
cols
for i in cols:
    print('\033[1m'+i+'\033[0m')
    stats_u(df,i)
    print("\n")

Datatype of each column
id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

displaying the 5 rows from top
     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  2018-10-19
1  Entire home/apt    225               1                 45  2019-05-21
2     Private room    150               3                  0         NaN
3  Entire home/apt     89               1                270  2019-07-05
4  Entire home/apt     80              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2                NaN                               1               365
3               4.64                               1               194
4               0.10                               1                 0

displaying the 5 rows from bottom
             id                                               name   host_id  \
48890  36484665    Charming one bedroom - newly renovated rowhouse   8232441
48891  36485057      Affordable room in Bushwick/East Williamsburg   6570630
48892  36485431            Sunny Studio at Historical Neighborhood  23492952
48893  36485609               43rd St. Time Square-cozy single bed  30985759
48894  36487245  Trendy duplex in the very heart of Hell's Kitchen  68119814

           host_name neighbourhood_group       neighbourhood  latitude  \
48890        Sabrina            Brooklyn  Bedford-Stuyvesant  40.67853
48891        Marisol            Brooklyn            Bushwick  40.70184
48892  Ilgar & Aysel           Manhattan              Harlem  40.81475
48893            Taz           Manhattan      Hell's Kitchen  40.75751
48894     Christophe           Manhattan      Hell's Kitchen  40.76404

       longitude        room_type  price  minimum_nights  number_of_reviews  \
48890  -73.94995     Private room     70               2                  0
48891  -73.93317     Private room     40               4                  0
48892  -73.94867  Entire home/apt    115              10                  0
48893  -73.99112      Shared room     55               1                  0
48894  -73.98933     Private room     90               7                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
48890         NaN                NaN                               2
48891         NaN                NaN                               2
48892         NaN                NaN                               1
48893         NaN                NaN                               6
48894         NaN                NaN                               1

       availability_365
48890                 9
48891                36
48892                27
48893                 2
48894                23

Shape of the Data set
(48895, 16)

Column Names in the Data set
Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

Quick Overview of DataSet(info)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB
None

No.of Elements in the DataSet
782320

Dimensions in your dataframe
2

Staistical Summary of DataSet
                 id       host_id      latitude     longitude         price  \
count  4.889500e+04  4.889500e+04  48895.000000  48895.000000  48895.000000
mean   1.901714e+07  6.762001e+07     40.728949    -73.952170    152.720687
std    1.098311e+07  7.861097e+07      0.054530      0.046157    240.154170
min    2.539000e+03  2.438000e+03     40.499790    -74.244420      0.000000
25%    9.471945e+06  7.822033e+06     40.690100    -73.983070     69.000000
50%    1.967728e+07  3.079382e+07     40.723070    -73.955680    106.000000
75%    2.915218e+07  1.074344e+08     40.763115    -73.936275    175.000000
max    3.648724e+07  2.743213e+08     40.913060    -73.712990  10000.000000

       minimum_nights  number_of_reviews  reviews_per_month  \
count    48895.000000       48895.000000       38843.000000
mean         7.029962          23.274466           1.373221
std         20.510550          44.550582           1.680442
min          1.000000           0.000000           0.010000
25%          1.000000           1.000000           0.190000
50%          3.000000           5.000000           0.720000
75%          5.000000          24.000000           2.020000
max       1250.000000         629.000000          58.500000

       calculated_host_listings_count  availability_365
count                    48895.000000      48895.000000
mean                         7.143982        112.781327
std                         32.952519        131.622289
min                          1.000000          0.000000
25%                          1.000000          0.000000
50%                          1.000000         45.000000
75%                          2.000000        227.000000
max                        327.000000        365.000000

Percentage of Missing values in each column
id                                 0.00
name                               0.03
host_id                            0.00
host_name                          0.04
neighbourhood_group                0.00
neighbourhood                      0.00
latitude                           0.00
longitude                          0.00
room_type                          0.00
price                              0.00
minimum_nights                     0.00
number_of_reviews                  0.00
last_review                       20.56
reviews_per_month                 20.56
calculated_host_listings_count     0.00
availability_365                   0.00
dtype: float64

Number of unique elements
id                                48895
name                              47905
host_id                           37457
host_name                         11452
neighbourhood_group                   5
neighbourhood                       221
latitude                          19048
longitude                         14718
room_type                             3
price                               674
minimum_nights                      109
number_of_reviews                   394
last_review                        1764
reviews_per_month                   937
calculated_host_listings_count       47
availability_365                    366
dtype: int64

Memory used by all colomns in bytes
Index                                128
id                                391160
name                              391160
host_id                           391160
host_name                         391160
neighbourhood_group               391160
neighbourhood                     391160
latitude                          391160
longitude                         391160
room_type                         391160
price                             391160
minimum_nights                    391160
number_of_reviews                 391160
last_review                       391160
reviews_per_month                 391160
calculated_host_listings_count    391160
availability_365                  391160
dtype: int64

Dataframe filled with boolean values with true indicating missing values
      id   name  host_id  host_name  neighbourhood_group  neighbourhood  \
0  False  False    False      False                False          False
1  False  False    False      False                False          False
2  False  False    False      False                False          False
3  False  False    False      False                False          False
4  False  False    False      False                False          False

   latitude  longitude  room_type  price  minimum_nights  number_of_reviews  \
0     False      False      False  False           False              False
1     False      False      False  False           False              False
2     False      False      False  False           False              False
3     False      False      False  False           False              False
4     False      False      False  False           False              False

   last_review  reviews_per_month  calculated_host_listings_count  \
0        False              False                           False
1        False              False                           False
2         True               True                           False
3        False              False                           False
4        False              False                           False

   availability_365
0             False
1             False
2             False
3             False
4             False

Boolean Series denoting duplicate rows
0

Series containing count of unique values
id        name                                               host_id    host_name        neighbourhood_group  neighbourhood       latitude  longitude  room_type        price  minimum_nights  number_of_reviews  last_review  reviews_per_month  calculated_host_listings_count  availability_365
2539      Clean & quiet apt home by the park                 2787       John             Brooklyn             Kensington          40.64749  -73.97237  Private room     149    1               9                  2018-10-19   0.21               6                               365                 1
24082591  Haven In The Heights - Huge Manhattan 2BR 2 Bath!  44303500   Bruce & Suzanne  Manhattan            Washington Heights  40.84634  -73.93861  Entire home/apt  275    2               7                  2019-05-12   0.52               2                               0                   1
24083340  Your Dream 1 bed Apartment in the heart of SoHo    13460416   Jeremie          Manhattan            Little Italy        40.71930  -73.99782  Entire home/apt  140    2               6                  2019-07-02   0.41               1                               0                   1
24083686  The Bay - A One Bedroom Apartment                  181344112  Ernesto          Manhattan            Kips Bay            40.74346  -73.97827  Entire home/apt  199    2               8                  2018-12-03   0.54               1                               0                   1
24083746  Cozy private room available from January 1st       32434287   David            Manhattan            Harlem              40.81787  -73.94286  Private room     65     3               1                  2018-05-08   0.07               1                               0                   1
                                                                                                                                                                                                                                                                                                     ..
12536976  Sunny & Luxurious West Village Apartment!          55457305   Mila & Jon       Manhattan            West Village        40.72981  -74.00348  Entire home/apt  274    6               37                 2019-06-23   0.94               1                               339                 1
12537157  CoZy RooM & Private Bathroom BK:) SUPERHOST :)     3441272    Jasmin           Brooklyn             Bushwick            40.69758  -73.93493  Private room     50     2               93                 2019-06-18   2.39               5                               202                 1
12537221  Great Location                                     67884746   Linda            Brooklyn             Prospect Heights    40.67947  -73.96466  Private room     105    2               172                2019-06-24   4.50               1                               83                  1
12539359  Cute and cosy one bedroom                          60946174   Zineb            Manhattan            Upper East Side     40.78093  -73.95175  Private room     350    1               9                  2016-10-08   0.23               1                               90                  1
36455809  Cozy Private Room in Bushwick, Brooklyn            74162901   Christine        Brooklyn             Bushwick            40.69805  -73.92801  Private room     30     1               1                  2019-07-08   1.00               1                               1                   1
Length: 38821, dtype: int64

Correalation between all columns in DataFrame
                                      id   host_id  latitude  longitude  \
id                              1.000000  0.588290 -0.003125   0.090908
host_id                         0.588290  1.000000  0.020224   0.127055
latitude                       -0.003125  0.020224  1.000000   0.084788
longitude                       0.090908  0.127055  0.084788   1.000000
price                           0.010619  0.015309  0.033939  -0.150019
minimum_nights                 -0.013224 -0.017364  0.024869  -0.062747
number_of_reviews              -0.319760 -0.140106 -0.015389   0.059094
reviews_per_month               0.291828  0.296417 -0.010142   0.145948
calculated_host_listings_count  0.133272  0.154950  0.019517  -0.114713
availability_365                0.085468  0.203492 -0.010983   0.082731

                                   price  minimum_nights  number_of_reviews  \
id                              0.010619       -0.013224          -0.319760
host_id                         0.015309       -0.017364          -0.140106
latitude                        0.033939        0.024869          -0.015389
longitude                      -0.150019       -0.062747           0.059094
price                           1.000000        0.042799          -0.047954
minimum_nights                  0.042799        1.000000          -0.080116
number_of_reviews              -0.047954       -0.080116           1.000000
reviews_per_month              -0.030608       -0.121702           0.549868
calculated_host_listings_count  0.057472        0.127960          -0.072376
availability_365                0.081829        0.144303           0.172028

                                reviews_per_month  \
id                                       0.291828
host_id                                  0.296417
latitude                                -0.010142
longitude                                0.145948
price                                   -0.030608
minimum_nights                          -0.121702
number_of_reviews                        0.549868
reviews_per_month                        1.000000
calculated_host_listings_count          -0.009421
availability_365                         0.185791

                                calculated_host_listings_count  \
id                                                    0.133272
host_id                                               0.154950
latitude                                              0.019517
longitude                                            -0.114713
price                                                 0.057472
minimum_nights                                        0.127960
number_of_reviews                                    -0.072376
reviews_per_month                                    -0.009421
calculated_host_listings_count                        1.000000
availability_365                                      0.225701

                                availability_365
id                                      0.085468
host_id                                 0.203492
latitude                               -0.010983
longitude                               0.082731
price                                   0.081829
minimum_nights                          0.144303
number_of_reviews                       0.172028
reviews_per_month                       0.185791
calculated_host_listings_count          0.225701
availability_365                        1.000000

----------------------------------------------------------------------------------------------------------------------
Summary Of DataSet
DataTypes in the DataSet:
 id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object
Columns in DataSet: Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')
Shape of DataSet: (48895, 16)
Size of DataSet: 782320
Dimension of DataSet: 2
Total Memory used in DataSet: 6258688
Total Number of missing values in DataSet: 20141

What we understand from above information:
1. We should address missing values
2. We should address outliers
3. There are some categorical features in our data frame; as there are some features in dtype: object). So we will need to encode them into numeric forms later.
4. Remove unnecessary columns
5. last_review should parsed as DateTime

In [9]:
#Substitute empty values with Nan
df=df.replace('',np.NaN)

## Remove Duplicate If Any

There is no any duplicate. Here is the code in the case we had one.

In [10]:
df.drop_duplicates(inplace=True)

In [11]:
df.duplicated().sum()

0

## Drop Unnecessary Columns

In [12]:
df.drop(['name','id','host_name'], axis=1, inplace=True)

## Change Columns Format

In [13]:
df1=df.copy()

In [14]:
df1.last_review= pd.to_datetime(df1.last_review,infer_datetime_format=True)
df1['last_review']

0       2018-10-19
1       2019-05-21
2              NaT
3       2019-07-05
4       2018-11-19
           ...
48890          NaT
48891          NaT
48892          NaT
48893          NaT
48894          NaT
Name: last_review, Length: 48895, dtype: datetime64[ns]

## Missing Values

In [15]:
df2=df1.copy()

In [16]:
#percentage of Null values in each columns
round(df2.isnull().sum()*100/len(df2),2)

host_id                            0.00
neighbourhood_group                0.00
neighbourhood                      0.00
latitude                           0.00
longitude                          0.00
room_type                          0.00
price                              0.00
minimum_nights                     0.00
number_of_reviews                  0.00
last_review                       20.56
reviews_per_month                 20.56
calculated_host_listings_count     0.00
availability_365                   0.00
dtype: float64

Replace the 'reviews per month' by zero

In [17]:
df2.fillna({'reviews_per_month':0}, inplace=True)

We substitute NuLL values in'last_review'with earliest review

In [18]:
earliest = min(df2['last_review'])
earliest

Timestamp('2011-03-28 00:00:00')

In [19]:
df2['last_review'] = df2['last_review'].fillna(earliest)
df2['last_review']

0       2018-10-19
1       2019-05-21
2       2011-03-28
3       2019-07-05
4       2018-11-19
           ...
48890   2011-03-28
48891   2011-03-28
48892   2011-03-28
48893   2011-03-28
48894   2011-03-28
Name: last_review, Length: 48895, dtype: datetime64[ns]

Then we change the column to number of days since first comment

In [20]:
df2['last_review']=(df2['last_review']-pd.to_datetime(earliest))/ np.timedelta64(1, 'D')
df2['last_review']=df2['last_review'].astype(int)
df2['last_review']

0        2762
1        2976
2           0
3        3021
4        2793
         ...
48890       0
48891       0
48892       0
48893       0
48894       0
Name: last_review, Length: 48895, dtype: int64

In [21]:
#percentage of Null values in each columns
round(df2.isnull().sum()*100/len(df2),2)

host_id                           0.0
neighbourhood_group               0.0
neighbourhood                     0.0
latitude                          0.0
longitude                         0.0
room_type                         0.0
price                             0.0
minimum_nights                    0.0
number_of_reviews                 0.0
last_review                       0.0
reviews_per_month                 0.0
calculated_host_listings_count    0.0
availability_365                  0.0
dtype: float64

## Outliers using IQR method

In [22]:
df3=df2.copy()

In [23]:
cols=df3.columns
cols
for i in cols:
    print('\033[1m'+i+'\033[0m')
    stats_u(df3,i)
    print("\n")

host_id
host_id has Quantitative data
mean of host_id column 67620010.64661008
median of host_id column 30793816.0
standard deviation of host_id column 78610967.03266686
quartile 1 of host_id column is 7822683
quartile 2 of host_id column is 30793816
quartile 3 of host_id column is 107434423
quartile 4 of host_id column is 274321313
Lower Limit Point: -141594927.0
Upper Limit Point: 256852033.0
There are outliers
Outliers are:
Series([], Name: host_id, dtype: int64)
43384    257565053
43385    257567667
43386    257569145
43387    257565053
44064    256857295
           ...
48875    274273284
48881    274298453
48884    274307600
48886    274311461
48888    274321313
Name: host_id, Length: 1526, dtype: int64


neighbourhood_group
neighbourhood_group has Qualitative Data
mode of neighbourhood_group column:
 0    Manhattan
Name: neighbourhood_group, dtype: object
Count of mode is:
 Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64
Unique strings in neighbourhood_group are 5
neighbourhood_group has multi stings


neighbourhood
neighbourhood has Qualitative Data
mode of neighbourhood column:
 0    Williamsburg
Name: neighbourhood, dtype: object
Count of mode is:
 Williamsburg          3920
Bedford-Stuyvesant    3714
Harlem                2658
Bushwick              2465
Upper West Side       1971
                      ...
Fort Wadsworth           1
Richmondtown             1
New Dorp                 1
Rossville                1
Willowbrook              1
Name: neighbourhood, Length: 221, dtype: int64
Unique strings in neighbourhood are 221
neighbourhood has multi stings


latitude
latitude has Quantitative data
mean of latitude column 40.7289488806627
Maximum value of latitude column 40.91306
Minimum value of latitude column 40.49979
median of latitude column 40.72307
standard deviation of latitude column 0.054530078057371895
quartile 1 of latitude column is 40.6901
quartile 2 of latitude column is 40.72307
quartile 3 of latitude column is 40.76311
quartile 4 of latitude column is 40.91306
Lower Limit Point: 40.580585000000006
Upper Limit Point: 40.87262499999999
There are outliers
1010     40.57810
1424     40.50868
1629     40.57728
2415     40.57519
3049     40.53884
           ...
48441    40.56506
48516    40.57936
48699    40.57531
48751    40.56546
48799    40.54179
Name: latitude, Length: 171, dtype: float64
261      40.88057
433      40.89747
737      40.89557
966      40.87991
1749     40.88757
           ...
48029    40.91306
48033    40.91167
48154    40.90527
48229    40.87997
48312    40.88116
Name: latitude, Length: 254, dtype: float64


longitude
longitude has Quantitative data
mean of longitude column -73.9521696146839
Maximum value of longitude column -73.71299
Minimum value of longitude column -74.24442
median of longitude column -73.95568
standard deviation of longitude column 0.04615673610637182
quartile 1 of longitude column is -73.98307
quartile 2 of longitude column is -73.95568
quartile 3 of longitude column is -73.93628
quartile 4 of longitude column is -73.71299
Lower Limit Point: -74.05325500000001
Upper Limit Point: -73.866095
There are outliers
169     -74.08088
249     -74.08537
250     -74.08543
251     -74.08546
256     -74.08519
           ...
48441   -74.10240
48446   -74.07987
48533   -74.07301
48649   -74.06625
48799   -74.14275
Name: longitude, Length: 373, dtype: float64
143     -73.83168
196     -73.76597
260     -73.85514
261     -73.83572
360     -73.76133
           ...
48847   -73.86523
48851   -73.86591
48858   -73.82556
48866   -73.81448
48889   -73.80844
Name: longitude, Length: 2460, dtype: float64


room_type
room_type has Qualitative Data
mode of room_type column:
 0    Entire home/apt
Name: room_type, dtype: object
Count of mode is:
 Entire home/apt    25409
Private room       22326
Shared room         1160
Name: room_type, dtype: int64
Unique strings in room_type are 3
room_type has multi stings


price
price has Quantitative data
mean of price column 152.7206871868289
median of price column 106.0
standard deviation of price column 240.15416974718727
quartile 1 of price column is 69
quartile 2 of price column is 106
quartile 3 of price column is 175
quartile 4 of price column is 10000
Lower Limit Point: -90.0
Upper Limit Point: 334.0
There are outliers
Outliers are:
Series([], Name: price, dtype: int64)
61       375
85       800
103      500
114      350
121      400
        ...
48758    350
48833    475
48839    800
48842    350
48856    345
Name: price, Length: 2972, dtype: int64


minimum_nights
minimum_nights has Quantitative data
mean of minimum_nights column 7.029962163820431
median of minimum_nights column 3.0
standard deviation of minimum_nights column 20.510549533180445
quartile 1 of minimum_nights column is 1
quartile 2 of minimum_nights column is 3
quartile 3 of minimum_nights column is 5
quartile 4 of minimum_nights column is 1250
Lower Limit Point: -5.0
Upper Limit Point: 11.0
There are outliers
Outliers are:
Series([], Name: minimum_nights, dtype: int64)
6        45
14       90
29       14
36       60
45       29
         ..
48810    30
48843    29
48871    29
48879    20
48882    20
Name: minimum_nights, Length: 6607, dtype: int64


number_of_reviews
number_of_reviews has Quantitative data
mean of number_of_reviews column 23.274465691788528
median of number_of_reviews column 5.0
standard deviation of number_of_reviews column 44.55058226668788
quartile 1 of number_of_reviews column is 1
quartile 2 of number_of_reviews column is 5
quartile 3 of number_of_reviews column is 24
quartile 4 of number_of_reviews column is 629
Lower Limit Point: -33.5
Upper Limit Point: 58.5
There are outliers
Outliers are:
Series([], Name: number_of_reviews, dtype: int64)
3        270
5         74
7        430
8        118
9        160
        ...
40104     65
40297     95
40424     65
42075    156
42076     82
Name: number_of_reviews, Length: 6021, dtype: int64


last_review
last_review has Quantitative data
mean of last_review column 2182.3216688822986
median of last_review column 2838.0
standard deviation of last_review column 1169.8727432951887
quartile 1 of last_review column is 1823
quartile 2 of last_review column is 2838
quartile 3 of last_review column is 3005
quartile 4 of last_review column is 3024
Lower Limit Point: 50.0
Upper Limit Point: 4778.0
There are outliers
Outliers are:
2        0
19       0
26       0
36       0
38       0
        ..
48890    0
48891    0
48892    0
48893    0
48894    0
Name: last_review, Length: 10055, dtype: int64
Series([], Name: last_review, dtype: int64)


reviews_per_month
reviews_per_month has Quantitative data
mean of reviews_per_month column 1.0909099089886702
Maximum value of reviews_per_month column 58.5
Minimum value of reviews_per_month column 0.0
median of reviews_per_month column 0.37
standard deviation of reviews_per_month column 1.5972827674184304
quartile 1 of reviews_per_month column is 0.04
quartile 2 of reviews_per_month column is 0.37
quartile 3 of reviews_per_month column is 1.58
quartile 4 of reviews_per_month column is 58.5
Lower Limit Point: -2.27
Upper Limit Point: 3.89
There are outliers
Series([], Name: reviews_per_month, dtype: float64)
3        4.64
18       4.44
67       4.72
113      4.22
225      4.58
         ...
47848    5.00
47967    6.00
48031    7.00
48228    5.00
48252    4.00
Name: reviews_per_month, Length: 3312, dtype: float64


calculated_host_listings_count
calculated_host_listings_count has Quantitative data
mean of calculated_host_listings_count column 7.143982002249719
median of calculated_host_listings_count column 1.0
standard deviation of calculated_host_listings_count column 32.952518849421466
quartile 1 of calculated_host_listings_count column is 1
quartile 2 of calculated_host_listings_count column is 1
quartile 3 of calculated_host_listings_count column is 2
quartile 4 of calculated_host_listings_count column is 327
Lower Limit Point: -0.5
Upper Limit Point: 3.5
There are outliers
Outliers are:
Series([], Name: calculated_host_listings_count, dtype: int64)
0        6
9        4
21       6
22       6
23       6
        ..
48858    4
48867    6
48868    6
48878    5
48893    6
Name: calculated_host_listings_count, Length: 7081, dtype: int64


availability_365
availability_365 has Quantitative data
mean of availability_365 column 112.78132733408324
median of availability_365 column 45.0
standard deviation of availability_365 column 131.62228885170362
quartile 1 of availability_365 column is 0
quartile 2 of availability_365 column is 45
quartile 3 of availability_365 column is 227
quartile 4 of availability_365 column is 365
Lower Limit Point: -340.5
Upper Limit Point: 567.5
No outliers